<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<!-- Head-->
<div th:replace="~{fragments/head :: head}" />
<body class="bg-dark">
<header>
    <!-- Responsive navbar-->
    <div th:replace="~{fragments/nav :: nav}" />
    
</header>
<main>
    <div class="bg-light">
        <section class="py-5 text-center container">
            <div class="row py-lg-5 bg-gradient">
                <div class="col-lg-6 col-md-8 mx-auto ">
                    <h3 class="lead text-muted">Welcome To MasonSoccer!<div  sec:authorize="isAuthenticated()" th:text="${coach.firstName}"> </div></h3>

                </div>
            </div>
        </section>
    </div>

    <div class=" container-fluid bg-light">
        <h1>Trainings</h1>
        <br /><br />
        <div class="col table-responsive">
            <table class="table table-bordered table-striped" id="team">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">StartTime</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Field Name</th>
                    <th scope="col">Team Name</th>
                    <!--                <th scope="col">Actions</th>-->
                </tr>
                </thead>
                <tbody>
                <tr th:each="schedule: ${schedules}">
                    <!--                        <th scope="row" ></th>-->
                    <td th:text="${schedule.date}"></td>
                    <td th:text="${schedule.startTime}"></td>
                    <td th:text="${(schedule.duration)}"></td>
                    <td th:text="${schedule.fieldName}"></td>
                    <td th:text="${schedule.team.name}"></td>
                    <td>
                        <!--                            <a class="btn btn-info" th:href="@{/training/delete/{id}(id=${training.id})}">Update</a>-->
                        <!--                            <a class="btn btn-danger ml-2" th:href="@{/training/delete/{id}(id=${schedule.id})}">Delete</a>-->
                    </td>
                </tr>
                </tbody>
            </table>
            <a th:href="@{/teams/addteam}" class="btn btn-primary">Add New Training</a>
            <br /><br />
        </div>

    </div>


<!--    <div class="album py-5 bg-light">-->
<!--        <div class="container ">-->

<!--            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">-->
<!--                <div class="col">-->
<!--                    <div class="card shadow-sm" th:each="team: ${teams}" >-->
<!--&lt;!&ndash;                        <img class="card-img-top" src="./images/kickers.jpg" alt="">&ndash;&gt;-->
<!--                        <div class="card-body">-->
<!--                            <p class="card-text" >-->
<!--                                <ul>-->
<!--                                    <li>Team name:<span th:text="${team.name}"></span> </li>-->
<!--                                <li>Age group:<span th:text="${team.ageGroup}"></span> </li>-->
<!--                            <li>Team name:<span th:text="${team.id}"></span> </li>-->
<!--                            </li>-->
<!--                                </ul>-->
<!--                            </p>-->
<!--                            <div class="d-flex justify-content-between align-items-center">-->
<!--                                <div class="d-flex justify-content-end">-->
<!--                                    <a th:href="@{/teamschedule(id=${team.id})}" class="btn btn-success"-->
<!--                                    >View Team Schedule</a-->
<!--                                    >-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->

</main>
<div class="container text-light">
   <!-- Footer-->
   <div th:replace="~{fragments/footer :: footer}"/>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>